<div class="admin-homepage">
    <h2>Welcome to Admin Homepage</h2>
  
    <div class="buttons">
      <button mat-raised-button color="primary" routerLink="/create-employee">Create Employee</button><br>
      <button mat-raised-button color="primary" routerLink="/create-vendor">Create Vendor</button><br>
      <button mat-raised-button color="primary" routerLink="/employees">View All Employees</button><br>
      <button mat-raised-button color="primary" routerLink="/vendors">View All Vendors</button><br>
      <button mat-raised-button color="primary" routerLink="/sendMail">Send Mail to Vendors</button>
    </div>
  </div>
  